<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>The Chat</title>
</head>

<body>
    <h1>Super cool chat</h1>
    <form method="POST" id="mForm">
        <input type="text" class="message" id="msg" placeholder="Messages" required/>
        <input type="submit" />
    </form>

    <div id="chat"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous"></script>
    <script src="js/app.js"></script>

</body>

</html>